<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MealPLan </title>
</head>
<body>
    <h1>Meal Plan</h1>
    <p>Website to make meal plan<p>
        <h2>Choose Meal Plan</h2>
        <form action="#" method="post">
            <label for="option1">Gold Plan:</label>
            <input type="checkbox" id="option1" name="option1"><br><br>
       
          	
            
            <label for="option2"> Silver Plan:</label>
            <input type="checkbox" id="option2" name="option2"><br><br>
            
            <label for="option3">Bronze Plan:</label>
            <input type="checkbox" id="option3" name="option3"><br><br>
            
            <input type="submit" value="Submit">
        </form>
  	<p><b>Gold Plan -<b></p><br><br>
      <p>The unlimited access to all dining halls available on campus</p>
  <p><b>Silver Plan -<b></p><br><br>
      <p> Have unlimited access to the main cafeteria and limted access to others(only 3 times per week)</p>
     <p><b>Bronze Plan -<b></p><br><br>
      <p> Have limited to acces to every dining hall but given 5 times per week acces for on campus dining halls</p>
    
</body>
</html>